<div
  class="min-vh-100 bg-back-ground-About d-flex justify-content-center align-items-center p-0 m-0"
>
  <div class="container">
    <div class="row">
      <h2 class="text-center fw-bold text-white fs-1">ABOUT COMPONENT</h2>
      <div class="icon text-center">
        <i class="fa-solid fa-minus fs-1 text-white"></i>
      </div>
      <p class="fw-lighter mt-1 text-white text-center">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
        repudiandae adipisci perferendis beatae voluptatum nostrum repellat
        similique omnis facere ea. Explicabo culpa officia debitis, iste tempore
        quo hic ab possimus adipisci praesentium fuga neque repellat fugit,
        molestias eum deleniti maxime libero commodi quidem nulla sed! Autem
        iusto rem ut dicta, nesciunt numquam ab laboriosam rerum dolore fugiat
        quibusdam dignissimos temporibus maxime eaque sequi, reiciendis odio
        quis expedita saepe. Blanditiis nam, maxime architecto aliquam quam
        veritatis libero ut nesciunt eveniet fuga? Dignissimos corrupti
        reiciendis sint explicabo recusandae unde itaque fugiat iure molestiae
        tempore, magni nisi maiores mollitia totam possimus, nobis ipsum.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
