<div class="vh-100 bg-back-ground-About">
  <div class="container">
    <div class="image d-flex justify-content-center">
      <img
        src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
        class="w-25 mt-5"
        alt=""
      />
    </div>
    <h2 class="text-center text-uppercase fs-1 fw-bold mt-5 text-white">
      start Framework
    </h2>
    <div class="icon text-center">
      <i class="fa-solid fa-minus fs-1 text-white"></i>
      <h3 class="fw-light text-white fs-5"> Graphic Artist - Web Designer - Illustrator</h3>
    </div>
  </div>
</div>
 <app-footer></app-footer>
