<div class="container">
  <h2 class="text-center fw-bold text-back-ground fs-1 mt-2 text-uppercase mt-3">
    contact section
  </h2>
  <div class="icon text-center">
    <i class="fa-solid fa-minus fs-1 text-back-ground"></i>
  </div>
  <div class="w-75 mx-auto">
    <div class="screen-body-item">
      <div class="app-form">
        <div class="app-form-group">
          <input class="app-form-control" placeholder="userName " type="text" />
        </div>
        <div class="app-form-group">
          <input
            class="app-form-control"
            placeholder="userAge "
            type="number"
          />
        </div>
        <div class="app-form-group">
          <input
            class="app-form-control"
            placeholder="userEmail "
            type="text"
          />
        </div>
        <div class="app-form-group">
          <input
            class="app-form-control"
            placeholder="userPassword  "
            type="password"
          />
        </div>

        <div class="app-form-group buttons">
          <button class="app-form-button btn btn-Ag-color"> send Message </button>
        </div>
      </div>
    </div>
  </div>
</div>
 <app-footer></app-footer>
