<div class="container mb-5">
  <h2 class="text-center fw-bold text-back-ground fs-1 mt-2">
    portfolio component
  </h2>
  <div class="icon text-center">
    <i class="fa-solid fa-minus fs-1 text-back-ground"></i>
  </div>
  <div class="row g-5">
    <!--  -->
    <div class="col-lg-4 col-md-6">
      <div class="pic" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <img
          src="../../assets/images/poert1.png"
          class="w-100 rounded-5"
          alt=""
        />
        <div
          class="layer d-flex justify-content-center align-items-center rounded-5"
        >
          <i class="fa-solid fa-plus fs-1 fw-bold text-white"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="pic" data-bs-toggle="modal" data-bs-target="#exampleModal4">
        <img
          src="../../assets/images/port2.png"
          class="w-100 rounded-5"
          alt=""
        />
        <div
          class="layer d-flex justify-content-center align-items-center rounded-5"
        >
          <i class="fa-solid fa-plus fs-1 fw-bold text-white"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="pic" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img
          src="../../assets/images/port3.png"
          class="w-100 rounded-5"
          alt=""
        />
        <div
          class="layer d-flex justify-content-center align-items-center rounded-5"
        >
          <i class="fa-solid fa-plus fs-1 fw-bold text-white"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="pic" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <img
          src="../../assets/images/poert1.png"
          class="w-100 rounded-5"
          alt=""
        />
        <div
          class="layer d-flex justify-content-center align-items-center rounded-5"
        >
          <i class="fa-solid fa-plus fs-1 fw-bold text-white"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="pic" data-bs-toggle="modal" data-bs-target="#exampleModal4">
        <img
          src="../../assets/images/port2.png"
          class="w-100 rounded-5"
          alt=""
        />
        <div
          class="layer d-flex justify-content-center align-items-center rounded-5"
        >
          <i class="fa-solid fa-plus fs-1 fw-bold text-white"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="pic" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img
          src="../../assets/images/port3.png"
          class="w-100 rounded-5"
          alt=""
        />
        <div
          class="layer d-flex justify-content-center align-items-center rounded-5"
        >
          <i class="fa-solid fa-plus fs-1 fw-bold text-white"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->

<!-- Modal port3 -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-body">
        <img src="./assets/images/port3.png" class="w-100 rounded-5" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- Modal port1 -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-body">
        <img src="./assets/images/poert1.png" class="w-100 rounded-5" alt="" />
      </div>
    </div>
  </div>
</div>
<!--  -->
<div
  class="modal fade"
  id="exampleModal4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-body">
        <img src="./assets/images/port2.png" class="w-100 rounded-5" alt="" />
      </div>
    </div>
  </div>
</div>
