<nav class="navbar navbar-expand-lg p-3 bg-back-ground">
  <div class="container">
    <a
      class="navbar-brand fw-bold fs-2 text-white text-uppercase"
      routerLink="Framework"
      >Start Framework
    </a>
    <!--  -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--  -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fw-bolder fs-5 p-3 text-white"
            aria-current="page"
            routerLink="About"
            routerLinkActive="bg-back-ground-About rounded-pill"
            >about</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fw-bolder fs-5 p-3 text-white"
            routerLink="portfolio"
            routerLinkActive="bg-back-ground-About rounded-pill"
            >portfolio</a
          >
        </li>
        <li class="nav-item me-5">
          <a
            class="nav-link text-uppercase fw-bolder fs-5 p-3 text-white"
            routerLink="contact"
            routerLinkActive="bg-back-ground-About rounded-pill"
            >contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>


